body {
    height: 100vh;
    width: 100vw;
    background-image: url(../imgs/background\ -\ Games.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header {
    background-color: rgba(22, 11, 88, 0.5);
    height: 20vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

#site-titulo {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#site-titulo p {
    color: #fff;
    font-size: 5vh;
    font-family: Bruno ace, 'Times New Roman', 'Arial';
}

#carrinho {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#carrinho input {
    height: 70%;
    filter: invert(100%);
}

main {
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(22, 11, 88, 0.5);
    flex-direction: row;
}

figure {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.titulo {
    width: 100%;
    display: flex;
    justify-content: center;
}

.titulo p {
    font-family: Bruno ace, 'Times New Roman', 'Arial';
    color: #fff;
    font-size: 5vh;
}

.nota {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}

#stars {
    color: #fff;
    font-size: 4vh;
}

#avaliacao-text {
    font-size: 3vh;
    color: #fff;
    font-family: Bruno ace, 'Times New Roman', 'Arial';
    margin-left: 20px;
}

.descricao {
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.descricao img {
    height: 70%;
    width: 70%;
    border-radius: 20px;
}

.descricao p {
    font-size: 3vh;
    color: #fff;
    font-family: Bruno ace, 'Times New Roman', 'Arial';
}

aside {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}